.home-layout {
    height: 100%;
    display: flex;
    background: var(--bg);
    color: var(--text);
    font-family: var(--font-satoshi);
}

.sidebar {
    background: var(--card);
    min-width: 250px;
    max-width: 250px;
    color: var(--text);
    font-family: var(--font-telma);
    font-size: var(--font-size-md);
    padding-top: 30px;
    padding-inline: 25px;
}

.left-bar {
    height: 100%;
}

.animation {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.link {
    all: unset;
    display: flex;
    cursor: pointer;
    margin-block: 20px;
}

.group-container {
    display: flex;
    justify-content: space-between;
}

.group-devider {
    margin-block: 10px;
    border: 1px dashed var(--border);
}

.group-list {
    height: 50%;
    overflow-y: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.plus-icon-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-bar {
    height: 100%;
}

.main-content-center {
    flex-grow: 1;
    padding: 40px;
    overflow-y: auto;
}

.notification-title {
    padding-block: 10px;
    border-bottom: 1px dashed var(--border);
    font-size: var(--font-size-sm);
    margin-bottom: 10px;
}

.notification-item {
    margin-bottom: 10px;
    padding: 8px 12px;
    background-color: var(--bg);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    font-size: var(--font-size-sm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.no-notifications {
    color: var(--accent);
    font-size: var(--font-size-sm);
    padding: 12px;
}

.message-text {
    font-size: var(--font-size-sm);
    /* display: flex; */
    word-wrap: break-word;
    width: 90%;
}

@media (max-width: 900px) {
    .home-layout {
        flex-direction: column;
    }

    .left-bar,
    .right-bar {
        display: none;
    }

    .main-content-center {
        padding: 20px;
    }
}

.group-item {
    cursor: pointer;
    background-color: rgba(214, 214, 214, 0.05);
    color: var(--text);
    font-size: var(--font-size-sm);
    padding: 7px 12px;
    border-radius: var(--radius);
    transition: background-color 0.2s ease-in-out;
}

.group-item:hover {
    background-color: var(--secondary);
}